html {
	font-size: 16px;
}

.col-form-label {
	padding-top: calc(.5rem - 1px * 2);
	padding-bottom: calc(.5rem - 1px * 2);
	margin-bottom: 0;
}

#home-panel .header > .row .logo {
	padding-left: 0;
	padding-right: 0;
}

#site-logo {
	margin-right: 2rem;
	background-color: #1d4488;
	width: 10.3125rem;
}

#site-logo img {
	padding: 1.25rem;
}

#home-menu {
	margin-top: 1.875rem;
}

#home-menu ul {
	padding-left: 0;
	padding-top: 2rem;
	list-style: none;
}

#home-menu ul li {
	display: inline;
	font-size: 1rem;
	font-weight: 500;
	padding-top: 1rem;
	border-top: 5px solid #EFEFEF;

	-webkit-transition: all 0.1s;
    transition: all 0.1s;
}
#home-menu ul li:not(:first-child) {
	margin-left: 3.125rem;
}
#home-menu ul li:hover {
	cursor: pointer;
	color: #ea5644;
}
#home-menu ul li.active {
	color: #ea5644;
}


