#site-members {
	padding-bottom: 3rem;
}
#site-members > .row:first-child {
	padding-top: 2rem;
	border-top: 1px solid #dddddd;
}
#site-members table a {
	text-decoration: none;
}
#site-members table td {
	vertical-align: middle;
}

#member-add-edit > .row:first-child {
	padding-top: 2rem;
	border-top: 1px solid #dddddd;
}

#member-info::placeholder {
	color: #bbbbbb;
	font-style: italic;
}