<div id="adminTab" class="main-tab container">
	<form id="admin-create-contest" ng-show="!ContestCtrl.contestPending.exists">
		<h3 style="margin-bottom: 1rem;">Tạo kỳ thi</h3>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Tên kì thi</label>
			<div class="col-sm-7">
				<input class="form-control input-lg" id="contest-name" type="text" ng-model="ContestCtrl.contestName">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Chủ đề</label>
			<div class="col-sm-7">
				<input class="form-control input-lg" id="inputlg" type="text" ng-model="ContestCtrl.contestTopic">
			</div>
		</div>
		<div class="form-group row">
			<label for="chooseFileButton" class="col-sm-2 col-form-label">Chọn file đề bài</label>
			<div class="col-sm-7">
				<button id="chooseFileButton" class="btn btn-secondary" ngf-select ng-model="ContestCtrl.fileProblem" name="file" ngf-pattern="'.doc,.docx,.pdf'" ngf-accept="'.doc,.docx,.pdf'" ngf-max-size="25MB">Chọn file</button>
				<span>{{ ContestCtrl.fileProblem.name | fileNameFilter }}</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="chooseFileButton" class="col-sm-2 col-form-label">Mã bài (viết cách nhau bởi dấu phẩy)</label>
			<div class="col-sm-7">
				<input type="text" class="form-control" capitalize ng-model="ContestCtrl.problemNamesString" ng-change="ContestCtrl.problemNamesChanged()" placeholder="SEGMENT, ANT, POLYGON">
		    	<!-- <div class="problem-name" ng-repeat="name in ContestCtrl.problemNames track by $index" style="margin-top: 6px;" ng-class="{indent: $index > 0}">
		    		{{ name }}
		    	</div> -->
		    	<table class="table table-bordered" style="margin-top: 1rem;">
					<thead>
						<tr>
							<th style="width: 20%;">Tên bài</th>
							<th>Điểm của test</th>
							<th>Giới hạn thời gian (giây)</th>
							<th>Giới hạn bộ nhớ (MiB)</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="problem in ContestCtrl.problems">
							<td style="width: 20%;">{{ problem.name }}</td>
							<td><input class="form-control" ng-model="problem.testScore" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></td>
							<td><input class="form-control" ng-model="problem.timeLimit" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></td>
							<td><input class="form-control" ng-model="problem.memoryLimit" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group row">
			<label for="setStartTime" class="col-sm-2 col-form-label">Thời gian bắt đầu</label>
			<div class="col-sm-7">
				<div class="input-group" moment-picker="ContestCtrl.startTime" format="HH:mm, DD/MM/YYYY" locale="vi">
				    <span class="input-group-addon">
				        <i class="fa fa-clock-o"></i>
				    </span>
				    <input class="form-control" ng-model="ContestCtrl.startTime">
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label for="setEndTime" class="col-sm-2 col-form-label">Thời gian kết thúc</label>
			<div class="col-sm-7">
				<div class="input-group" moment-picker="ContestCtrl.endTime" format="HH:mm, DD/MM/YYYY" locale="vi">
				    <span class="input-group-addon">
				        <i class="fa fa-clock-o"></i>
				    </span>
				    <input class="form-control" ng-model="ContestCtrl.endTime">
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label for="chooseTestButton" class="col-sm-2 col-form-label">Upload test</label>
			<div class="col-sm-7">
				<button id="chooseTestButton" class="btn btn-secondary" ngf-select="ContestCtrl.uploadTest($file)" ng-model="ContestCtrl.fileTest" name="file" ngf-pattern="'.zip'" ngf-accept="'.zip'" ngf-max-size="100MB">Chọn file (*.zip)</button>
				<span>{{ ContestCtrl.uploadMessage(ContestCtrl.fileTest.name) }}</span>
				<progress-circle amount="45"></progress-circle>
				<p style="margin-top: 1rem;"><strong>Hướng dẫn cách tạo và nén thư mục test</strong></p>
				<ol>
					<li>Thư mục test phải có cấu trúc thỏa mãn yêu cầu của phần mềm chấm Themis. Mỗi bài tập sẽ có 1 thư mục riêng để chứa tất cả file test cho bài tập đó, và thư mục này sẽ được đặt tên là tên của bài tập đó. Mỗi bài tập có bao nhiêu test, thì thư mục của bài tập đó sẽ chứa bấy nhiêu thư mục con tương ứng với từng test. Mỗi thư mục con ứng với từng test đó sẽ chứa 2 file duy nhất: 1 file input và 1 file output.</li>
					<li>Sau khi đã tạo xong thư mục test cho kì thi, ta nén thư mục đó lại và upload bằng nút ở trên. Lưu ý: hãy nén trực tiếp từ thư mục test này, đừng bỏ nó vào 1 thư mục khác xong rồi mới nén.</li>
				</ol>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 offset-sm-2">
				<button id="creatContestButton" class="btn btn-primary" type="submit" ng-disabled="vm.uploading" ng-click="ContestCtrl.createContest()">Tạo kỳ thi</button>
			</div>
		</div>
	</form>
	<form id="admin-edit-contest" ng-show="ContestCtrl.contestPending.exists">
		<h3 style="margin-bottom: 1rem;">Thông tin kì thi sắp diễn ra</h3>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Tên kì thi</label>
			<div class="col-sm-7">
				<input class="form-control input-lg" type="text" ng-model="ContestCtrl.contestPending.name">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Chủ đề</label>
			<div class="col-sm-7">
				<input class="form-control input-lg" type="text" ng-model="ContestCtrl.contestPending.topic">
			</div>
		</div>
		<div class="form-group row">
			<label for="chooseFileButton" class="col-sm-2 col-form-label">File đề bài</label>
			<div class="col-sm-7">
				<div class="col-form-label" style="display: inline-block;">
					<a href="{{ ContestCtrl.contestPending.filePath }}" target="_blank">Đề bài</a>
				</div>
				<button class="btn btn-secondary" ngf-select ng-model="ContestCtrl.contestPending.fileProblem" name="file" ngf-pattern="'.doc,.docx,.pdf'" ngf-accept="'.doc,.docx,.pdf'" ngf-max-size="25MB">Chọn file khác</button>
				<span>{{ ContestCtrl.contestPending.fileProblem.name | fileNameFilter }}</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="chooseFileButton" class="col-sm-2 col-form-label">Mã bài (viết cách nhau bởi dấu phẩy)</label>
			<div class="col-sm-7">
				<input type="text" disabled class="form-control" ng-model="ContestCtrl.contestPending.problemsString" ng-change="ContestCtrl.problemNamesPendingChanged()" placeholder="SEGMENT, ANT, POLYGON">
				<!-- <div>
			    	<div class="problem-name" ng-repeat="name in ContestCtrl.contestPending.problems track by $index" style="margin-top: 6px;" ng-class="{indent: $index > 0}">
			    		{{ name }}
			    	</div>
		    	</div> -->
		    	<table class="table table-bordered" style="margin-top: 1rem;">
					<thead>
						<tr>
							<th style="width: 20%;">Tên bài</th>
							<th>Điểm của test</th>
							<th>Giới hạn thời gian (giây)</th>
							<th>Giới hạn bộ nhớ (MiB)</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="problem in ContestCtrl.contestPending.problems">
							<td style="width: 20%;">{{ problem.name }}</td>
							<td><input class="form-control" ng-model="problem.testScore" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></td>
							<td><input class="form-control" ng-model="problem.timeLimit" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></td>
							<td><input class="form-control" ng-model="problem.memoryLimit" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group row">
			<label for="setStartTime" class="col-sm-2 col-form-label">Thời gian bắt đầu</label>
			<div class="col-sm-7">
				<div class="input-group" moment-picker="ContestCtrl.contestPending.start" format="HH:mm, DD/MM/YYYY" locale="vi">
				    <span class="input-group-addon">
				        <i class="fa fa-clock-o"></i>
				    </span>
				    <input class="form-control" ng-model="ContestCtrl.contestPending.start" ng-disabled="ContestCtrl.isMomentBeforeNow(ContestCtrl.contestPending.start)">
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label for="setEndTime" class="col-sm-2 col-form-label">Thời gian kết thúc</label>
			<div class="col-sm-7">
				<div class="input-group" moment-picker="ContestCtrl.contestPending.end" format="HH:mm, DD/MM/YYYY" locale="vi">
				    <span class="input-group-addon">
				        <i class="fa fa-clock-o"></i>
				    </span>
				    <input class="form-control" ng-model="ContestCtrl.contestPending.end">
				</div>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-4 offset-sm-2">
				<button class="btn btn-primary" type="submit" ng-click="ContestCtrl.editContest()">Chỉnh sửa</button>
				<button class="btn btn-danger" type="submit" ng-click="ContestCtrl.stopContest()" ng-show="ContestCtrl.isOngoing(ContestCtrl.contestPending.start, ContestCtrl.contestPending.end)">Dừng kì thi</button>
				<button class="btn btn-danger" type="submit" ng-click="ContestCtrl.deleteContest()" ng-show="!ContestCtrl.isOngoing(ContestCtrl.contestPending.start, ContestCtrl.contestPending.end)">Hủy kì thi</button>
			</div>
		</div>
	</form>
</div>