<div id="site-contest">
	<div class="container">
		<div class="row">
			<ul class="navigation-bar">
				<li ng-class="{active: ContestCtrl.isTabActive('home.contest.admin')}" ng-click="ContestCtrl.selectTab(0)" ng-show="ContestCtrl.isAdmin()">QUẢN LÝ KÌ THI</li>
				<li ng-class="{active: ContestCtrl.isTabActive('home.contest.all')}" ng-click="ContestCtrl.selectTab(1)">KÌ THI</li>
				<li ng-class="{active: ContestCtrl.isTabActive('home.contest.scoreboard')}" ng-click="ContestCtrl.selectTab(2)">BẢNG ĐIỂM</li>
				<li ng-class="{active: ContestCtrl.isTabActive('home.contest.submission')}" ng-click="ContestCtrl.selectTab(3)">NỘP BÀI</li>
			</ul>
		</div>
	</div>

	<div ui-view>
	</div>
</div>