<div id="home-panel">
	<nav class="navbar navbar-inverse">
	  	<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Themis Online Judge</a>
		    </div>
		    <div class="collapse navbar-collapse">
		      	<ul class="nav navbar-nav navbar-right">
		        	<li><p class="navbar-text">Xin chào, {{ HomeCtrl.username }}</p></li>
		        	<li><button ng-click="HomeCtrl.logout()" class="btn btn-danger">Đăng xuất</button></li>
		      	</ul>
		    </div>
	</nav>
	<div class="container">
		<div class="row">
			<ul class="nav nav-tabs" role="tablist">
				<li ng-class="{active: HomeCtrl.isTabActive(0)}" ng-click="HomeCtrl.selectTab(0)"><a href="#">Bảng điểm</a></li>
				<li ng-class="{active: HomeCtrl.isTabActive(1)}" ng-click="HomeCtrl.selectTab(1)"><a href="#">Nộp bài</a></li>
				<li ng-class="{active: HomeCtrl.isTabActive(2)}" ng-click="HomeCtrl.selectTab(2)"><a href="#">Đề bài</a></li>
			</ul>
		</div>
	</div>
	<div id="scoreboardTab" class="main-tab container" ng-hide="!HomeCtrl.isTabActive(0)">
		Tab 0
	</div>
	<div id="submissionTab" class="main-tab container" ng-hide="!HomeCtrl.isTabActive(1)">
		<h4>Nộp bài</h4>
		<form id="uploadSolution" class="form-inline">
			<div class="form-group">
				<label for="problemName">Chọn bài</label>
				<select id="problemName" class="form-control" ng-model="HomeCtrl.selectedProblem">
					<option ng-repeat="p in HomeCtrl.problems track by $index">{{ p }}</option>
				</select>
			</div>
			<div class="form-group">
				<label>Chọn file mã nguồn</label>
				<button class="btn btn-default" ngf-select ng-model="HomeCtrl.file" name="file" ngf-pattern="'.cpp,.pas/*'" ngf-accept="'.cpp,.pas/*'" ngf-max-size="5MB">Choose file</button>
				<span>{{ HomeCtrl.getSolutionName() }}</span>
			</div>
			<button class="btn btn-primary" type="submit" ng-click="HomeCtrl.submit()">Nộp bài</button>
		</form>
		<h4>Các lần bạn nộp</h4>
	</div>
	<div id="problemTab" class="main-tab container" ng-hide="!HomeCtrl.isTabActive(2)">
		Tab 2
	</div>
</div>