<div id="home-panel">
	<!-- <nav class="navbar">
	  	<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Đội Tuyển Tin PTNK</a>
		    </div>
		    <div class="collapse navbar-collapse">
		      	<ul class="nav navbar-nav navbar-right">
		        	<li><p class="navbar-text">Xin chào, {{ HomeCtrl.username }}</p></li>
		        	<li><button ng-click="HomeCtrl.logout()" class="btn btn-danger">Đăng xuất</button></li>
		      	</ul>
		    </div>
	</nav> -->
	<div class="container header" style="margin-bottom: 2rem;">
		<div class="row">
			<div class="col-sm-2 logo">
				<div id="site-logo">
					<img src="img/site-logo.png"></img>
				</div>
			</div>
			<div class="col-sm-4">
				<div id="home-menu">
					<h3>Đội Tuyển Tin PTNK</h3>
					<ul>
						<li>TÀI LIỆU</li>
						<li>LÀM BÀI</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<div style="float: right;">
					<h3>Xin chào, {{ HomeCtrl.username }}</h3>
					<button ng-click="HomeCtrl.logout()" class="btn btn-danger" style="width: 100%;">Đăng xuất</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<ul class="nav nav-tabs" role="tablist">
				<li ng-class="{active: HomeCtrl.isTabActive('home.admin')}" ng-click="HomeCtrl.selectTab(0)"><a href="#">TẠO KÌ THI</a></li>
				<li ng-class="{active: HomeCtrl.isTabActive('home.problems')}" ng-click="HomeCtrl.selectTab(1)"><a href="#">ĐỀ BÀI</a></li>
				<li ng-class="{active: HomeCtrl.isTabActive('home.scoreboard')}" ng-click="HomeCtrl.selectTab(2)"><a href="#">BẢNG ĐIỂM</a></li>
				<li ng-class="{active: HomeCtrl.isTabActive('home.submission')}" ng-click="HomeCtrl.selectTab(3)"><a href="#">NỘP BÀI</a></li>
			</ul>
		</div>
	</div>

	<div ui-view>
	</div>
</div>