<div id="scoreboardTab" class="main-tab container">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th style="width: 10%;">Xếp hạng</th>
				<th>Tên thí sinh</th>
				<th ng-repeat="problem in ContestCtrl.problems" style="width: 10%;">
					{{ problem }}
				</th>
				<th style="width: 10%;">Tổng điểm</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in ContestCtrl.scoreboard">
				<td style="width: 10%;">{{ $index + 1 }}</td>
				<td>{{ user.username }}</td>
				<td ng-repeat="score in user.scores track by $index" style="width: 10%;">{{ score | submissionResultFilter }}</td>
				<td style="width: 10%;">{{ user.total | submissionResultFilter }}</td>
			</tr>
		</tbody>
	</table>
</div>