<div id="scoreboardTab" class="main-tab container">
	<div ng-show="ContestCtrl.runningContest.exists">
		<div class="row" style="margin-bottom: 0.5rem;">
			<div class="col-md-8">
				<h3 ng-show="ContestCtrl.contestGoingOn">Bảng điểm kì thi {{ ContestCtrl.runningContest.name }}</h3>
				<h3 ng-hide="ContestCtrl.contestGoingOn">Kì thi {{ ContestCtrl.runningContest.name }} sắp bắt đầu</h3>
			</div>
			<div>
				<h3>
					Còn {{ ContestCtrl.runningContest.status.timeLeft | toHour }} tiếng, {{ ContestCtrl.runningContest.status.timeLeft | toMinute }} phút, {{ ContestCtrl.runningContest.status.timeLeft | toSecond }} giây
				</h3>
			</div>
		</div>
		<div class="row">
			<table class="table table-bordered table-hover" ng-show="ContestCtrl.contestGoingOn">
				<thead>
					<tr>
						<th style="width: 10%;">Xếp hạng</th>
						<th>Tên thí sinh</th>
						<th ng-repeat="problem in ContestCtrl.runningContest.problems" style="width: 10%;">
							{{ problem.name }}
						</th>
						<th style="width: 10%;">Tổng điểm</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in ContestCtrl.scoreboard">
						<td style="width: 10%;">{{ $index + 1 }}</td>
						<td>{{ user.username }}</td>
						<td ng-show="ContestCtrl.isAdmin()" ng-repeat="score in user.scores track by $index" style="width: 10%;"><a href="#" data-toggle="modal" data-target="#userSubmissionLogs" ng-click="ContestCtrl.onUserSubmissionLogs(user.username, $index)">{{ score | submissionResultFilter }}</a></td>
						<td ng-hide="ContestCtrl.isAdmin()" ng-repeat="score in user.scores track by $index" style="width: 10%;">{{ score | submissionResultFilter }}</td>
						<td style="width: 10%;">{{ user.total | submissionResultFilter }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="modal fade" id="userSubmissionLogs" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Các bài đã nộp</h4>
						<button type="button" class="close close-dialog" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<div ng-hide="ContestCtrl.codeRequested || ContestCtrl.showCode">
							<p ng-show="!ContestCtrl.userSubmissionLogsLoaded">Đang load...</p>
							<p ng-show="ContestCtrl.userSubmissionLogsLoaded && ContestCtrl.userSubmissionLogs.length == 0">Chưa nộp lần nào</p>
							<ul>
								<li ng-repeat="sub in ContestCtrl.userSubmissionLogs"><a href="#" ng-click="ContestCtrl.onUserSubmissionCode($index)">{{sub.time}}</a></li>
							</ul>
						</div>
						<p ng-show="ContestCtrl.codeRequested">Đang load...</p>
						<div ng-show="ContestCtrl.showCode">
							<pre>{{ContestCtrl.userSubmissionCode}}</pre>
						</div>
						<!-- <pre>{{ ContestCtrl.submissionDetails }}</pre> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<h5 ng-show="!ContestCtrl.runningContest.exists">Đang không có kì thi nào diễn ra</h5>
</div>