<div id="submissionTab" class="main-tab container">
	<div ng-show="ContestCtrl.runningContest.exists">
		<div class="row">
			<div class="col-md-8" style="margin-bottom: 1rem;">
				<h3 ng-show="ContestCtrl.contestGoingOn">Nộp bài kì thi {{ ContestCtrl.runningContest.name }}</h3>
				<h3 ng-hide="ContestCtrl.contestGoingOn">Kì thi {{ ContestCtrl.runningContest.name }} sắp bắt đầu</h3>
			</div>

			<div>
				<h3>
					Còn {{ ContestCtrl.runningContest.status.timeLeft | toHour }} tiếng, {{ ContestCtrl.runningContest.status.timeLeft | toMinute }} phút, {{ ContestCtrl.runningContest.status.timeLeft | toSecond }} giây
				</h3>
			</div>
		</div>
		<div ng-show="ContestCtrl.contestGoingOn">
			<form id="uploadSolution">
				<div class="form-group row">
					<label for="problemName" class="col-sm-2 col-form-label">Chọn bài</label>
					<div class="col-sm-6">
						<select id="problemName" class="form-control" ng-model="ContestCtrl.selectedProblem">
							<option ng-repeat="p in ContestCtrl.problems track by $index">{{ p }}</option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="chooseFileButton" class="col-sm-2 col-form-label">Chọn file mã nguồn</label>
					<div class="col-sm-4">
						<button id="chooseFileButton" type="button" class="btn btn-secondary" ngf-select ng-model="ContestCtrl.fileSubmit" name="file" ngf-pattern="'.cpp,.pas/*'" ngf-accept="'.cpp,.pas/*'" ngf-max-size="5MB">Choose file</button>
						<span>{{ ContestCtrl.fileSubmit.name | fileNameFilter }}</span>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-2 offset-sm-2">
						<button class="btn btn-primary" type="submit" ng-click="ContestCtrl.submit()">Nộp bài</button>
					</div>
				</div>
			</form>
			<div style="margin-bottom: 1rem;">
				<h3>Các lần bạn nộp</h3>
			</div>
			<table class="table table-striped table-hover">
				<thead class="thead-inverse">
					<tr>
						<th style="width: 10%;">#</th>
						<th style="width: 20%;">Vào lúc</th>
						<th style="width: 50%;">Tên bài</th>
						<th class="text-center" style="width: 10%;">Điểm</th>
						<th class="text-center" style="width: 10%;">Chi tiết</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="log in ContestCtrl.submissionLogs">
						<td style="width: 10%;">{{ ContestCtrl.submissionLogs.length - $index }}</td>
						<td style="width: 20%;">{{ log.time }}</td>
						<td style="width: 50%;">{{ log.problem }}</td>
						<td class="text-center" style="width: 10%;">{{ log.score | submissionResultFilter }}</td>
						<td class="text-center" style="width: 10%;">
							<i class="fa fa-file-o submission-details-btn" data-toggle="modal" data-target="#submissionDetails" ng-click="ContestCtrl.onSubmissionDetailsClick($index)"></i>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="modal fade" id="submissionDetails" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Chi tiết kết quả chấm</h4>
							<button type="button" class="close close-dialog" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body">
							<pre>{{ ContestCtrl.submissionDetails }}</pre>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<h5 ng-show="!ContestCtrl.runningContest.exists">Đang không có kì thi nào diễn ra</h5>
</div>